[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"

[packages]
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
mysql-connector = "*"
requests = "*"
google-cloud-secret-manager = "*"

[requires]
python_version = "3.7"
