[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"
autoflake = "*"

[packages]
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
mysql-connector = "*"
coloredlogs = "*"
pytest-mock = "*"
lxml = "*"
pytest-ordering = "*"
cssselect = "*"
tqdm = "*"
pydantic = "*"
autopep8 = "*"
isort = "*"

[requires]
python_version = "3.7"
